@model EmployeeDetailsDto
@{
	ViewData["Title"] = "Employee Details";
}
<h1>Employee @Model.Name Details</h1>

<br />
<br />

<partial name="Partials/_DeleteDetailsPartial" model="@Model" />


<div class="mt-4">
	<div asp-validation-summary="ModelOnly"></div>
	<a asp-action="Index" class="btn btn-secondary">Back To list</a>
</div>