@model EmployeeVM
@{
    ViewData["Title"] = "Edit Employee";
}

<div class="row justify-content-center align-content-center flex-column">
    <h1 class="col-6 my-4">Update Employee @Model.Name,</h1>
    <form asp-action="Create" method="post" class="row col-6">

		<partial name="Partials/_CreatedPartial" model="@Model " />

        <div class="mt-4">
            <input type="submit" value="Update" class="btn btn-success" /> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </form>
</div>

//Section
@section ValidateScripts {
    <partial name="_ValidationScriptsPartial" />
}